/bin/
/target/
.classpath
node_modules
.idea
*.iml
*.iws
*.ipr

!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target

*.properties
/app/src/main/java/com/alviss/football/sim/Sim.ijs
/app/src/test/resources/
/app/src/main/resources/static/css/main.css
/app/src/main/java/com/alviss/football/fixtures/FixturesGeneratords.java
